body {
}
.all_categories {
    top: 0px;
}

.all_categories ul {
    margin-top: 2%;
}

.Gesture_btn_main {
    top: -5px;
}

.info_btn_main {
    top: -5px;
}

.page {
    height: 107%;
}


#btn_txt_1 {
    line-height: 17px;
}

.categories_text_down {
    height: 286px;
}

.recipes_middel_window, .recipes_middel_window_what_u_need {
    height: 380px;
}

.message_no_Results {
    font-size: 13px;
}

.recipes_text_down {
    height: 8px;
}

.down_menu_background {
    width: 100.8%;
    left: -1px;
    height: 4.2em;
}

.recipes_background_foodgrator {
    overflow-x: hidden;
}

.message_no_Results {
    font-size: 12px;
}

.recipes_text_down {
    height: 16px;
}

.recipes_middel_window_favorite {
    height: 400px;
}

.recipes_look_inside_btn {
    top: 36%;
}

.recipes_middel_window_recipres_page {
    height: 400px;
}

.star_icon_recipes_one {
    background-size: 14px 13px;
    width: 60px;
    height: 40px;
    top: -6px;
    background-position: 27px 6px;
    left: 12px;
    background-image: url("../images/one_recipe_one_star.png");
}

.dots_position {
    top: 4px;
}
/*----------info Page------------*/

.about_two_logos {
    height: 66px;
    padding: 2% 10%;
}

.about_text_red {
    line-height: 2.5em;
    font-size: 15px;
    letter-spacing: 0em;
    top: -3px;
    position: relative;
}

.about_text_position {
    padding: 4% 10%;
}

.about_text_title {
    line-height: 0.5em;
    font-size: 14px;
    top: -6px;
    letter-spacing: 0em;
}

.about_text_credits {
    line-height: 1em;
    font-size: 11px;
    bottom: 0px;
    letter-spacing: 0em;
}

.reshat_logo {
    top: 10px;
    background-size: 90px;
    left: 0em;
    width: 102px;
}

.screenz_logo {
    top: 0px;
    background-size: 100px;
    right: 0em;
    width: 112px;
}

.about_text {
    font-size: 13px;
}

.text_red_about {
    font-size: 15px;
    letter-spacing: 0em;
    text-decoration: underline;
    top: -3px;
    position: relative;
}

.about_text_copyright {
    font-size: 12px;
    top: -6px;
    position: relative;
    height: 20px;
}

.about_text_copyright_red {
    font-size: 10px;
    top: -13px;
    position: relative;
}

.search_btn {
    top: 6px;
}

.categories_text_down {
    height: 60px;
}
.inside_information {
display: block;
height: 6em;
width: 68%;
float: right;
margin-left: 5px;
position: relative;
font-size: 1.15em;
}
.about_all_text{
    overflow-y: auto;
    height: 100%;
}
.middel_pic_gesture{
    width: 320px;
    height: 100%;
    background-size: 100% auto;
    overflow-y: auto;
    margin-bottom: 60px;    
}
.finish_background {
    width: 82%;
left: 0;
right: 0;
margin: auto;
top: 36%;
z-index: 20;
}


.addToShoppingText {
    color: white;
    font-size: 19px;
    position: absolute;
    text-align: center;
    top: 44%;
    width: 60%;
    left: 20%;
    z-index: 22;
}

.shopping_ok_border {
    background-image: url("../images/timer_border_ok.png");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 38px;
    left: 33%;
    margin: auto;
    position: absolute;
   top: 55%;
width: 25%;
    background-size: 100% 100%;
    background-image: url("../images/timer_border_ok.png");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 38px;
    left: 37%;
    margin: auto;
    position: absolute;
   
    background-size: 100% 100%;
    z-index: 22;
}
.addToShopping {
    position: absolute;
    width: 100%;
    z-index: 19;
    top: 0;
    height: 100%;
}
.one_recipe_middle_what_u_need_list {
    top: 0;
    height: 100%;
}

/*#main_icon {
    background-size: 70% 68%;
    background-position: 50% 30%;
    width: 22%;
}

#favorite_icon {
    background-size: 45% 65%;
    background-position: 50% 20%;
}

#recipes_icon {
    background-size: 32% 62%;
    background-position: 49% 30%;
}*/
