body {
}


.btn_main_1, .btn_main_2 {
    background-position-x: 12%;
}

.all_categories {
    top: 0px;
    height: 630px;
}

.all_categories ul {
    margin-top: 2%;
}


.all_categories ul li {
    height: 94px;
    margin-bottom: 15px;
}

.cat_pic {
    height: 100%;
}

.btn_background_down {
    width: 239px;
    font-size: 0.9em;
}

.Gesture_btn_main {
    top: -5px;
}

.info_btn_main {
    top: -5px;
}

.page {
    height: 107%;
}


#btn_txt_1 {
    line-height: 17px;
    font-size: 1.4em;
}

#btn_txt_2 {
    font-size: 1.4em;
}

.categories_text_down {
    height: 286px;
}

.recipes_middel_window, .recipes_middel_window_what_u_need {
    height: 380px;
}


.recipes_list ul li {
    height: 69px;
}

#recipes_list_favorite .recipes_list ul li {
}

.message_no_Results {
    font-size: 13px;
}

.down_menu_background {
    width: 100.8%;
    left: -1px;
    height: 4.2em;
}

.recipes_background_foodgrator {
    overflow-x: hidden;
}

.message_no_Results {
    font-size: 12px;
}

.recipes_text_down {
    height: 24px;
    margin-top: 16px;
    padding-bottom: 16px;
    top: 7px;
}

.recipres_page .recipes_header_pic {
    height: 0px;
    overflow: hidden;
}

.recipes_list ul {
    height: 100%;
    padding: 0px;
    margin: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}


.recipes_middel_window_favorite {
    /*height: 350px;*/
}

.recipes_look_inside_btn {
    top: 36%;
}

.recipes_middel_window_recipres_page {
    height: 417px;
    /*overflow-y: auto;*/
}

.star_icon_recipes {
    top: 1px;
    height: 12px;
}

.star_icon_recipes_one {
    background-size: 14px 13px;
    width: 60px;
    height: 40px;
    top: -6px;
    background-position: 27px 6px;
    left: 18%;
    background-image: url("../images/one_recipe_one_star.png");
}

.dots_position {
    top: 4px;
}
/*----------info Page------------*/

.about_two_logos {
    height: 66px;
    padding: 2% 10%;
}

.about_text_red {
    line-height: 0;
    font-size: 15px;
    letter-spacing: 0em;
    top: 0;
    position: relative;
}

.about_text_position {
    padding: 4% 10%;
}

.about_text_title {
    line-height: 0.5em;
    top: -6px;
    letter-spacing: 0em;
}


.reshat_logo {
    top: 16px;
    background-size: 100px;
    left: 0em;
    width: 102px;
}

.text_red_about {
    font-size: 15px;
    letter-spacing: 0em;
    text-decoration: underline;
    top: -3px;
    position: relative;
}

.about_text_copyright {
    font-size: 12px;
    top: -6px;
    position: relative;
    height: 20px;
}

.about_text_copyright_red {
    position: relative;
}

.search_text_background {
    height: 35px;
    margin-bottom: 15px;
}

.foodgrator_text_background {
    height: 3em;
}

#Text_search_foodgrator {
    height: 1.5em;
    font-size: 1.5em;
}

.search_btn_icon {
    width: auto;
    height: 100%;
}

.search_btn {
    top: 6px;
}

.search_text {
    height: 31px;
    top: 1px;
    line-height: 1em;
    font-size: 2em;
    width: 86%;
}

.categories_text_down {
    height: 60px;
}



.inside_information {
    display: block;
    height: 6em;
    width: 68%;
    float: right;
    margin-right: 10px;
    position: relative;
    font-size: 1.15em;
}

#recipes_list .inside_information {
    display: block;
    height: 6em;
    width: 68%;
    float: left;
    margin-left: 19px;
    margin-right: 0px;
    position: relative;
    font-size: 1.15em;
}

.recipes_footer_text {
    width: 26%;
}

.favoriteBtnOuter .recipes_footer_text {
    width: 32%;
}

.about_all_text {
    overflow-y: auto;
    height: 100%;
}

.middel_pic_gesture {
    width: 320px;
    height: 100%;
    background-size: 100% 100%;
    overflow-y: auto;
    margin-bottom: 60px;
}

.addToShopping {
    position: absolute;
    width: 100%;
    z-index: 30;
    top: 0;
    height: 100%;
}

.finish_background {
}


.addToShoppingText {
    color: white;
    font-size: 1.8em;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 60%;
    left: 20%;
    z-index: 22;
}

.shopping_ok_border {
    background-image: url("../images/timer_border_ok.png");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 38px;
    left: 33%;
    margin: auto;
    position: absolute;
    top: 55%;
    width: 25%;
    background-size: 100% 100%;
    background-image: url("../images/timer_border_ok.png");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 38px;
    left: 37%;
    margin: auto;
    position: absolute;
    background-size: 100% 100%;
    z-index: 30;
}

.one_recipe_middle_what_u_need_list {
    top: 0;
    height: 100%;
}

/*#main_icon {
    background-size: 70% 68%;
    background-position: 50% 30%;
    width: 22%;
}

#favorite_icon {
    background-size: 45% 65%;
    background-position: 50% 20%;
}

#recipes_icon {
    background-size: 32% 62%;
    background-position: 49% 30%;
}*/

.background_term {
    height: 430px;
    top: 45px;
}

.recipes_middel_window_main {
    height: 375px;
}

.foodgrator_btn_left {
    background-position-x: 6%;
}

.timer_clock {
    top: 20%;
}

.timer_name {
    top: 0em;
}

.timer_delete_btn {
    top: -25%;
}

.timer_recet_btn {
    top: 10%;
}

.timer_ok_border {
    border-radius: 5px;
}

.shopping_list ul li {
    /*height: 3em;*/
    margin-bottom: 0;
}

.food_name_shopping{
    line-height: 2em;
}
.mail_text{
    font-size: 1.5em;
    line-height: 1.2em;
    top: 25%;
}
.shopping_mail_backgroung, .shopping_mail_backgroung{
    z-index: 300;
}
#timer_finish_recipe_name, .shopping_ok_border, .mail_text, .yes_no{
    z-index: 320;
}
.mail_text{
    top: 28%
}
.yes_no{
    top: 33%;
}
.shopping_ok_border{
    top: 50%;
}
.delete_btn_foodgator{
    top: 25%;
}
