body {
}

.all_categories {
    top: 0px;
}

.all_categories ul {
    margin-top: 2%;
}

.Gesture_btn_main {
    top: -5px;
}

.info_btn_main {
    top: -5px;
}

.page {
    height: 107%;
}

.search_btn {
    top: 6px;
}

#btn_txt_1 {
    line-height: 17px;
}

.categories_text_down {
    height: 286px;
}

.recipes_middel_window, .recipes_middel_window_what_u_need {
    height: 380px;
}

.message_no_Results {
    font-size: 13px;
}

.recipes_text_down {
    height: 8px;
}

.down_menu_background {
    width: 100.8%;
    left: -1px;
}

.recipes_background_foodgrator {
    overflow-x: hidden;
}

.message_no_Results {
    font-size: 12px;
}

.recipes_text_down {
    height: 16px;
}

.recipes_middel_window_favorite {
    height: 400px;
}

.recipes_look_inside_btn {
    top: 36%;
}

.recipes_middel_window_recipres_page {
    height: 400px;
}


element.style {
    background-size: 24px 13px;
    left: 37%;
    width: 77px;
    height: 46px;
    top: -6px;
    background-position: 21px 6px;
    left: 12px;
}
