body {
}


.all_categories {
    top: 0px;
}

.all_categories ul {
    margin-top: 2%;
}

.Gesture_btn_main {
    top: -5px;
}

.info_btn_main {
    top: -5px;
}

.page {
    height: 107%;
}


#btn_txt_1 {
    line-height: 17px;
}

.categories_text_down {
    height: 286px;
}

.recipes_middel_window, .recipes_middel_window_what_u_need {
    height: 380px;
}

.message_no_Results {
    font-size: 13px;
}

.recipes_text_down {
    height: 8px;
}

.down_menu_background {
    width: 100.8%;
    left: -1px;
}

.recipes_background_foodgrator {
    overflow-x: hidden;
}

.message_no_Results {
    font-size: 12px;
}

.recipes_text_down {
    height: 16px;
}

.recipes_middel_window_favorite {
    height: 400px;
}

.recipes_look_inside_btn {
    top: 36%;
}

.recipes_middel_window_recipres_page {
    height: 400px;
}

.star_icon_recipes_one {
    background-size: 14px 13px;
    width: 60px;
    height: 40px;
    top: -6px;
    background-position: 27px 6px;
    left: 12px;
    background-image: url("../images/one_recipe_one_star.png");
}

.dots_position {
    top: 4px;
}
/*----------info Page------------*/

.about_two_logos {
    height: 66px;
    padding: 2% 10%;
}

.about_text_red {
    line-height: 2.5em;
    font-size: 15px;
    letter-spacing: 0em;
    top: -3px;
    position: relative;
}

.about_text_position {
    padding: 4% 10%;
}

.about_text_title {
    line-height: 0.5em;
    font-size: 14px;
    top: -6px;
    letter-spacing: 0em;
}

.about_text_credits {
    line-height: 1em;
    font-size: 11px;
    bottom: 0px;
    letter-spacing: 0em;
}

.reshat_logo {
    top: 10px;
    background-size: 90px;
    left: 0em;
    width: 102px;
}

.screenz_logo {
    top: 0px;
    background-size: 100px;
    right: 0em;
    width: 112px;
}

.about_text {
    font-size: 13px;
}

.text_red_about {
    font-size: 15px;
    letter-spacing: 0em;
    text-decoration: underline;
    top: -3px;
    position: relative;
}

.about_text_copyright {
    font-size: 12px;
    top: -6px;
    position: relative;
}

.about_text_copyright_red {
    font-size: 10px;
    top: -13px;
    position: relative;
}

.search_btn {
    top: 6px;
}

.categories_text_down {
    height: 60px;
}
.inside_information {
display: block;
height: 6.8em;
width: 66%;
float: right;
margin-left: 5px;
position: relative;
font-size: 1.15em;
}
.about_all_text{
    overflow-y: scroll;
}
.App_posotion {
    height: 1280px;
}