/* CSS Document */

/*recipes list*/
.recipes_middel_window_recipres_page {
    height: 790px;
}

.recipes_list ul li, .recipes_list_search ul li, .recipes_small_pic_border {
    float: left;
}

.recipes_footer {
    position: relative;
}

.recipes_first_title {
    top: 0;
    float: left;
}

.recipes_second_title {
    max-height: 108px;
    width: 95%;
    overflow: hidden;
}



.delete .inside_information {
    width: 379px;
}

.delete .recipes_small_pic_border {
    margin: 0 0 0 100px;
}

.delete .cover_delete {
    left: 63px;
    width: 90%;
}

.delete .recipes_second_title {
    display: none;
}

.inside_information {
    height: 5.5em;
    line-height: 1.35em;
    overflow: hidden;
}

.recipes_look_inside_btn {
    right: 15px;
    width: 3%;
    top: 64px;
}

.recipes_footer {
    position: absolute;
    top: 6.8em;
}

#loadMoreRecipes {
    top: 1em;
}

.btn_background_down {
    margin: 0 auto;
}

.clock_icon_recipes {
    width: 1em;
    height: 1.1em;
    background-size: 2em 1em;
    margin-top: 2px;
}

.star_icon_recipes {
    width: 1.1em;
    height: 1.5em;
    background-size: 2em 1em;
    margin-top: -2px;
}

.recipes_footer_text {
    height: 1em;
    line-height: 1.5em;
    width: 25%;
}
/*=================.middel_pic_gesture---heand=====================*/
.middel_pic_gesture {
    background-color: #fff;
    background-size: 100% 100%;
    height: 94%;
}

.background_term {
    height: 50%;
}

.recipes_middel_pic_favorite {
    height: 792px;
}
/*=================================singel recipes==========================*/
.recipes_middel_pic {
    height: 750px;
    top: -33px;
}

.recipes_background_what_to_do .recipes_middel_pic {
    height: 100%;
    overflow: hidden;
    /*overflow-x: hidden;*/
    -webkit-overflow-scrolling: touch;
}

.one_recipe_page_what_to_do, .recipes_middel_window {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 766px;
    /*overflow-y: auto;*/
    overflow-x: hidden;
    overflow-y: auto;
    /*overflow-y: auto;*/
}

.one_recipe_page_what_to_do {
    /*overflow-x: hidden;
  overflow-y: hidden;*/
}


.clock_icon_recipes_one {
    background-size: 58px 27px;
    left: 17%;
    top: -5px;
}

.star_icon_recipes_one {
    background-size: 60px 30px;
    width: 33px;
}

.one_recipe_small_up_icons {
    position: relative;
}

.one_recipe_pic {
    clear: both;
    height: 433px;
}

#videoRecipePage {
    display: none;
    width: 100%;
    height: 100%;
}


.one_recipe_text_discription {
    top: 53px;
}
/*===================categoris page==========================*/
.all_categories {
    height: 880px;
    overflow-x: hidden;
}

.all_categories ul li {
    height: 156px;
}

.categories_text_down {
    height: 58px;
}
/*====================.search_text=========================*/
#search_text_box {
    width: 80%;
    height: 1.7em;
    line-height: 1em;
    font-size: 35px;
}

#search_text_searchpage_3 {
    width: 80%;
    font-size: 25px;
    line-height: 50px;
    height: 40px;
}


.recipes_middel_window_favorite {
    height: 780px;
}

.recipes_background_search {
    position: relative;
    border-top: 1px #838993 solid;
    top: -8px;
    width: 100%;
}

.recipes_background_main {
    border-top: 1px #838993 solid;
    top: 48px;
}

.timer_all_background_black {
    height: 1050px;
    opacity: 0.72;
    position: absolute;
    top: -226px;
    width: 800px;
    z-index: 21;
}

.addToShopping {
    position: absolute;
    width: 641px;
    z-index: 22;
    top: 218px;
}

.finish_background {
    left: 66px;
    position: absolute;
    top: -15px;
    cursor: pointer;
    width: 100%;
    z-index: 21;
}

.addToShoppingText {
    color: white;
    font-size: 40px;
    position: absolute;
    text-align: center;
    top: 37px;
    width: 60%;
    left: 28%;
    z-index: 21;
}

.shopping_ok_border {
    background-image: url("../images/timer_border_ok.png");
    background-repeat: no-repeat;
    cursor: pointer;
    height: 77px;
    left: 40%;
    margin: auto;
    position: absolute;
    top: 211px;
    width: 243px;
    z-index: 21;
}
/*------------------------------genaeral=========================*/
.one_recipe_back_btn {
    background-image: url("../images/back-button-sprite.png");
    background-size: auto 67%;
    background-position: 102% 0;
    cursor: pointer;
    height: 3em;
    position: absolute;
    right: 3.1em;
    width: 158px;
    z-index: 4;
    top: 1.1em;
    bottom: 0;
    margin: auto 0;
    display: none;
    background-repeat: no-repeat;
}

.one_recipe_page.page .one_recipe_back_btn {
    display: block;
}

.one_recipe_page.page .one_recipe_back_btn {
    display: block;
}

.one_recipe_back_btn.hover {
    background-position: 0 0;
}

.middel_main_ul1 {
    height: 100%;
}

.text_main_icon_position.main_menu_icon_hover {
    width: 82%;
    margin: auto;
}

.midddel_main_pic {
    top: 34px;
}

.dots_position {
    top: 50px;
}
/*********share page*************/

.share_up_description, .share_down_description {
    font-size: 2.2em;
}

#browseBtn {
    background-image: url(../images/browseBtn.png);
    bottom: 28px;
}

.share_btn_text {
    font-size: 32px;
}

.share_specific_pic.up {
    -webkit-transition: top 0.5s; /* Safari */
    top: -250px;
}

.Up_banner_background {
    height: 80px;
    border-bottom: 1px solid #cc0000;
}

.title_up_main_first, .title_up_main_all, .title_up_recipes, .title_up_one_recipe, .title_up_main_categories {
    font-size: 2em;
    width: 46%;
    display: block;
    overflow: hidden;
    top: 32%;
    color: #cc0000;
    position: relative;
    text-align: center;
    z-index: 3;
    margin: auto;
}

.midddel_main_pic_item img {
    height: 100%;
}

.main_btn_position {
    height: 3.5%;
    top: 4.5%;
}

.btn_main_2 {
    cursor: pointer;
    right: 0;
    background-image: url(../images_ipad/foodgrator_icon_hover.png);
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position-y: 50%;
    position: absolute;
    background-position-x: 13%;
    background-color: #cc0000;
    border-radius: 8px;
    height: 100%;
    width: 48%;
}

.btn_main_1 {
    cursor: pointer;
    left: 0;
    background-image: url(../images/photo_btn.png);
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position-y: 50%;
    position: absolute;
    background-position-x: 13%;
    background-color: #cc0000;
    border-radius: 8px;
    height: 100%;
    width: 48%;
}

#btn_txt_1 {
    font-size: 32px;
    letter-spacing: 0.2px;
    bottom: 0;
    top: 0;
    text-align: center;
    position: relative;
    display: block;
    background-position: 50% 30%;
    color: #fff;
    margin-left: 20%;
    margin-top: 6%;
}

#btn_txt_2 {
    font-size: 32px;
    letter-spacing: 0.2px;
    bottom: 0;
    top: 0;
    text-align: center;
    position: relative;
    display: block;
    background-position: 50% 30%;
    color: #fff;
    margin-left: 20%;
    margin-top: 6%;
}

.title_pic_white {
    font-size: 3em;
    left: 20px;
    top: 15px;
    height: 100px;
    overflow: hidden;
}

.title_pic_text {
    font-size: 1.9em;
    top: 85px;
}

.time_pic_white {
    top: 53%;
    height: 2em;
    width: 2em;
}

.search_text_background {
    margin: auto;
    width: 93%;
    left: 0px;
}

.search_btn {
    height: 5em;
    background-size: auto 57%;
    left: 18px;
}

.info_btn_main {
    height: 4em;
    right: 18px;
}

.Gesture_btn_main {
    height: 4em;
    right: 92px;
}

.dots_position ul li {
    width: 20px;
    height: 20px;
    background-size: 200% 100%;
}



.Gesture_btn_main.no_Gesture {
    background-image: url("../images/handWithX.png");
}
/**********recipes list page*********/
.recipes_list ul {
    width: 100%;
}

.recipes_list ul li {
    padding: 1.5em;
    width: 93%;
}

.recipes_small_pic_border {
    width: 150px;
    height: 150px;
}

.inside_information {
    float: left;
    margin-left: 24px;
    height: 9em;
    width: 71%;
    position: relative;
}

.recipes_footer {
    height: 20px;
    top: 7.8em;
}

.recipes_small_pic {
    border-radius: 34px;
}

.recipes_text_down {
    height: 50px;
}

/******recipe page*****/
.recipes_background_what_u_need {
    height: 100%;
    top: 1em;
}

.recipes_middel_window_what_u_need {
    height: 650px;
    overflow-y: scroll;
}

.one_recipe_bar_right {
    border-radius: 0 8px 8px 0;
}

.one_recipe_bar_left {
    border-radius: 8px 0 0 8px;
}

.clock_icon_recipes_one {
    background-position: -29px 0px;
}

.clock_icon_recipes_one {
    left: 26%;
}

.add_to_cart_btn {
    text-align: center;
    font-size: 21px;
    height: 57px;
    border-radius: 11px;
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 53px;
}

.recipes_middel_pic_what_u_need {
    top: 49px;
    overflow: auto;
}

.one_recipe_middle_what_u_need_list {
    height: 100%;
}


.second_nav_text {
    font-size: 30px;
}

/********gesture page*********/
.background_term {
    top: 80px;
}

.recipes_background_what_u_need {
    height: 764px;
    overflow-x: hidden;
    overflow-y: hidden;
}


/*--delite--*/
.favorite_delete_icon {
    width: 80px;
    height: 80px;
    margin-top: 39px;
}

.favorite_delete_icon img {
    width: 100%;
}
/*-----*/

/*****tools page******/
.tools_middel {
    background-color: #FFFFFF;
    height: 33%;
    position: absolute;
    width: 94%;
    right: 0;
    left: 0;
    margin: 2% auto;
    top: 155px;
}

.tools_middel_element, .tools_middel_element_footer {
    height: 12%;
    margin: auto;
    width: 89%;
    top: -1px;
    position: relative;
    margin-top: 42px;
    margin-bottom: 40px;
}

.tools_clock, .tools_Shopping_cart, .tools_term_list, .tools_camera {
    height: 92%;
    background-size: 65px;
    left: 8%;
    width: 15%;
    top: 11%;
}

.tools_text {
    color: #4d555f;
    font-size: 2.5em;
    left: 98px;
    line-height: 65px;
    position: relative;
    width: 432px;
}

.tools_middel_element_footer {
    top: 0px;
    position: relative;
    width: 100%;
}

.tools_share, .tools_website {
    width: 40%;
    background-position-x: 0;
    background-position-y: 4px;
    background-size: 25px;
    float: left;
    left: 20px;
    top: 8px;
}

.tools_share_text {
    color: #4D555F;
    font-family: PlumbMed;
    font-size: 23px;
    left: 29px;
    line-height: 2em;
    position: relative;
    width: 229px;
}

.tools_clock {
    background-size: 60px;
}

.shopping_page .shopping_text_background {
    background-image: url("../images_ipad/search_btn_icon.png");
    background-repeat: no-repeat;
    background-size: 9% 99%;
    background-position-x: 609px;
    background-position-y: 0px;
    margin-bottom: 25px;
}


/***********food gerator***********************/
.foodgerator_buttons {
    height: 2em;
    font-size: 22px;
    line-height: 45px;
    text-indent: 50px;
    top: -20px;
    background-position: 9% 50%;
}

.foodgrator_page .second_nav_background_papers {
    height: 130px;
}

.recipes_middel_pic_foodgrator {
    height: 675px;
}

.food_list {
    margin: 0px 0 0 0px;
}

.food_name {
    font-size: 28px;
    top: 20px;
}

.foodgrator_text_background {
    height: 60px;
    border-radius: 15px;
}

.recipes_middel_window_foodgrator {
    width: 100%;
    height: 663px;
}


.recipes_list_Results ul li {
    height: 200px;
}

.food_list ul li {
    width: 700px;
    left: 0px;
    height: 45px;
}

.message_no_Results {
    font-size: 33px;
}

#Text_search_foodgrator {
    top: -37px;
    line-height: 1.8em;
    font-size: 1.8em;
    height: 45px;
    text-indent: 10px;
}

.foodgrator_text_background .search_btn_icon {
    width: 76px;
    height: 60px;
    top: -39px;
    position: relative;
    margin-bottom: 0px;
}

.foodgrator_page .inside_information {
    float: right;
    width: 70%;
}

.delete_btn_foodgator {
    line-height: 33px;
    left: 560px;
    z-index: 600;
    height: 36px;
    width: 100px;
    top: -55px;
    font-size: 18px;
    text-indent: 0px;
}

.foodgrator_arrow_plus {
    width: 125px;
    height: 125px;
    top: 47px;
    margin-left: 84px;
    background-size: 100% 100%;
}

.foodgrator_arrow {
    width: 130px;
    height: 125px;
    top: 54px;
    margin-right: 150px;
}

.foodgrator_smile {
    height: 100px;
    width: 170px;
    top: 337px;
    float: left;
    margin-left: 129px;
}

.foodgrator_instruction_text_left {
    font-size: 23px;
    width: 256px;
    margin-top: 140px;
    margin-left: -14px;
}

.foodgrator_instruction_text_right {
    display: block;
    color: #484F57;
    font-size: 24px;
    text-align: left;
    width: 288px;
    margin-top: 130px;
    margin-left: -21px;
}

.foodgrator_instruction_text_down {
    font-size: 24px;
    width: 296px;
    margin-top: 80px;
    margin-left: -86px;
}

#one {
    position: absolute;
    top: 141px;
    left: -32px;
    font-size: 22px;
    color: #484F57;
}

#two {
    position: absolute;
    top: 131px;
    left: -44px;
    font-size: 22px;
    color: #484F57;
}

#three {
    position: absolute;
    top: 83px;
    left: -110px;
    font-size: 23px;
    color: #484F57;
}

#text_bottom {
    color: red;
    font-size: 36px;
    line-height: 10px;
    width: 359px;
    left: -120px;
    top: 170px;
    position: absolute;
}


/******************share facebook**************/

.share_facebook_btn {
}

.share_specific_pic {
    top: 0px;
}

.share_spcific_pic {
    height: 430px;
}

.search_page .recipes_footer_search {
    bottom: 0px;
    position: absolute;
    width: 100%;
}

.clock_side_footer, .fire_side_footer {
    width: 28%;
}

#TextArea_share {
    max-height: 60px;
}
